langchain[groq]
python-dotenv
langgraph
langgraph-sdk
langgraph-checkpoint-sqlite
langsmith
langchain-community
langchain-core
streamlit
streamlit-chat-widget
streamlit_float
typing-extensions
uuid
transformers